<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>Users</h1>

<form action="/users/add" method="POST">
    <label for="name">Enter name</label>
    <input type="text" name="name" placeholder="name" required id="name">
    <button type="submit">Add User</button>
</form>
<ul>
    <th:block th:each="user : ${users}">
        <li>
            <div>
                <span th:text="${user.name}">Name</span>
                <span th:text="' (ID: ' + ${user.id} + ')'"> (ID: 1)</span>
            </div>
            <div>
                <form action="/users/delete" method="POST">
                    <input type="hidden" th:value="${user.id}" name="id">
                    <button type="submit">Delete</button>
                </form>
                <form action="/users/update" method="POST">
                    <input type="hidden" th:value="${user.id}" name="id">
                    <input type="text" th:value="${user.name}" name="name" required>
                    <button type="submit">Update</button>
                </form>
            </div>
        </li>
    </th:block>
</ul>
</body>
</html>